@keyframes line { from { width: 0; } to { width: 100%; } }

.banner {
	position: relative;
	max-width: 1248px;
	min-height: 565px;
	padding: 142px 124px 100px 62px;
}

.banner__title {
	/* шорт кад margin: 0 0 50px; */
	margin: 0;
	margin-bottom: 50px;
	max-width: 645px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 80px;
	line-height: 110%;
	color: var(--dark-blue);
}

.banner__desc {
	margin: 0;
	margin-bottom: 50px;
	max-width: 380px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	color: var(--grey);
	position: relative;
	/* z-index уехал в бок */
  z-index: 1;
}

.banner__link {
	position: relative;
	display: flex;
	width: 170px;
	height: 60px;
	background-color: var(--purple);
	border-radius: 50px;
	text-decoration: none;
}

.banner__link:hover::after {
	/* стили уехали в бок */
	content: '';
	position: absolute;
  bottom: 0;
  left: 0;
	height: 60px;
	background-color: var(--grey);
	animation: line .5s ease both;
	border-radius: 50px;
}

.banner__link:active::after {
	transform: scale(1.1);
}

.banner__link-text {
	margin: auto;
	font-family: 'Ubuntu', sans-serif;
	color: var(--white);
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	/* Значения с плавающей точкой в пикселях могут отображаться по-разному в разных браузерах */
	line-height: 28.8px;
	z-index: 1;
}

.banner__bg {
	width: 61%;
	min-height: 468px;
	position: absolute;
	bottom: 100px;
	left: 34%;
	/* /images/svg/banner.svg - в итоге на странце нет картинки - Cannot resolve directory 'images'  */
	background-image: url(/images/svg/banner.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom right;
}

@media (max-width: 767px) {
	.banner {
		padding: 142px 36px 100px;
		min-height: initial;
	}

	.banner__title {
		font-size: 40px;
		margin-bottom: 20px;
		max-width: 480px;
	}

	.banner__desc {
		font-size: 14px;
	}

	.banner__bg {
		bottom: -25px;
	}
}

@media (max-width: 540px) {
	.banner__bg {
		display: none;
	}

	.banner {
		padding: 142px 24px 140px;
	}
}
