.banner {
	position: relative;
	max-width: 1248px;
	min-height: 565px;
	padding: 0 124px 0 62px;
	margin-bottom: 100px;
}

.banner__title {
	margin: 0;
	margin-bottom: 50px;
	max-width: 645px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 80px;
	line-height: 110%;
	color: var(--dark-blue);
}

.banner__desc {
	margin: 0;
	margin-bottom: 50px;
	max-width: 380px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	color: var(--grey);
}

.banner__button {
	border: none;
	width: 170px;
	height: 60px;
	background-color: var(--purple);
	border-radius: 50px;
}

.banner__button-text {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	color: var(--white);
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 28.8px;
}

.banner__bg {
	width: 61%;
	min-height: 468px;
	position: absolute;
	bottom: 0;
	left: 34%;
	background-image: url(/images/svg/banner.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom right;
}

@media (max-width: 728px) {
	.banner {
		padding: 0 24px 0;
		min-height: initial;
	}

	.banner__title {
		font-size: 40px;
		margin-bottom: 20px;
	}

	.banner__desc {
		font-size: 14px;
	}

	.banner__bg {
		display: none;
	}
}
