.info {
	max-width: 1118px;
	padding: 32px 16px 32px;
	display: grid;
	grid-template-columns: minmax(150px, 469px) minmax(150px, 475px);
	align-items: center;
	background-color: rgba(240, 99, 184, .15);
	border-radius: 50px;
	box-sizing: border-box;
	column-gap: 65px;
	margin-bottom: 150px;
}

.info__image {
	width: 100%;
	height: auto;
}

.info__container-text {}

.info__title {
	width: 100%;
	margin: 0;
	margin-bottom: 40px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 130%;
	color: var(--dark-blue);
}

.info__desc {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	color: var(--grey);
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
}

@media (max-width: 728px) {
	.info {
		display: grid;
		border-radius: 0;
		padding: 32px 32px 32px 0;
		justify-items: center;
		grid-template-columns: 1fr;
	}

	.info__container-text {
		margin-left: 24px;
	}

	.info__image {
		max-width: 469px;
	}

	.info__title {
		font-size: 30px;
	}

	.info__desc {
		font-size: 14px;
	}
}
