.footer {
	border-top: 2px solid rgba(156, 105, 226, .2);
}

.footer__content {
	max-width: 1085px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 162px 48px 65px;
}

.footer__container-info {
	max-width: 300px;
}

.footer__logo {
	display: flex;
	align-items: center;
	margin-bottom: 64px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 160%;
	color: var(--dark-blue);
	text-decoration: none;
}

.footer__logo-icon {
	width: 49px;
	height: 35px;
	margin-right: 20px;
}

.footer__address {
	margin-bottom: 10px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 180%;
	color: var(--dark-blue);
}

.footer__email {
	max-width: 196px;
	margin-bottom: 36px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 180%;
	color: var(--dark-blue);
}

.footer__email-link {
	text-decoration: none;
	color: var(--dark-blue);
}

.footer__text {
	max-width: 300px;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 180%;
	color: var(--dark-blue);
}

.footer__year {}

.footer__container-social {
	max-width: 200px;
}

.footer__title {
	margin: 0 0 30px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	color: var(--dark-blue);
}

.footer__list {
	display: grid;
	grid-template-columns: repeat(3, 50px);
	gap: 14px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer__item {
	width: 100%;
	height: 50px;
	background-color: var(--dark-blue);
	opacity: 0.1;
	border-radius: 50%;
	margin-right: 14px;
}

.footer__item:last-of-type {
	margin-right: 0;
}

.footer__link {
	display: block;
	width: inherit;
	height: inherit;
	text-decoration: none;
}

@media (max-width: 728px) {
	.footer {
		display: flex;
	}

	.footer__content {
		flex-direction: column;
		padding: 65px 36px 140px;
		max-width: 480px;
	}

	.footer__container-info {
		margin-bottom: 120px;
		max-width: initial;
	}

	.footer__email {
		max-width: initial;
	}

	.footer__text {
		max-width: initial;
	}
}
